<div class="navContainer">
    <ul class="navbar">
        <li><a href="/products" class="navbarLink">Productos</a></li>
        <li><a href="/perfil" class="navbarLink">Mi Perfil</a></li>
        <li><a href="/api/sessions/logout" class="navbarLink">Logout</a></li>
    </ul>
    <div class="navbar">
        <a href="/chat" class="chatButton">Ir al Chat</a>
    </div>
</div>